@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.users-wrapper{
  width: 960px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}